@charset "UTF-8";

body,html{
min-height:100%;
}

body{
margin:0px;
padding:0px;
}

header{
position:fixed;
width:100%;
height:50px;
background-color:rgba(0,0,0,1);
}

header ol{
list-style:none;
float:left;
padding:0px;
margin:0px 0px 0px 20px;
width:calc(100% - 40px);
font:normal 14px arial;
color:white;
}

header ol li{
list-style:none;
float:left;
width:calc(100% / 5);
height:50px;
padding:0px;
margin:0px;
text-align:center;
line-height:50px;
vertical-align:middle;
}

.image {
  padding-left: 50px;
}

div.a {
  text-align: center;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

footer { 
  position: bottom; 
  color: rgb(15, 5, 5); 
  text-align:center; 
  font-size: 100%; 
  
} 

header ol a{
color:white;
text-decoration:none;
}

.content{
padding-top:70px;
float:left;
width:100%;
min-height:800px;
background-color:pink;
}

footer{
float:left;
width:100%;
min-height:25px;
background-color:rgba(0,0,0,0.5);
}

* {
    box-sizing: border-box;
  }
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }

  .move-me {
      position: relative;
  }