h1 {
    font-family: sans-serif;
    font-weight: lighter;
    color:blue;
    
}
h2 {
    font-family: sans-serif;
    font-weight: lighter;
}
h3 {
    font-family: sans-serif;
    font-weight: lighter;
}

table, th, td, tr {
    border: 3px solid black;
}

