.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    column-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    column-width: 200px;
  }
  .one {
    grid-column: 1/5;
    background-color: #F5C6D6;
}

   .two { 
    grid-column: 1/2;
    background-color: #EE2E84;
     }

  .three {
    grid-column: 2/3;
    background-color: #EE2E84;
      }
  .four {
    grid-column: 3/4;
    background-color: #EE2E84;
 
  } 

  .five {
    grid-column: 4/5;
    background-color: #EE2E84;
 
  } 
  .six {
    grid-column: 1/3;
    background-color: #85CFD8;
 
  } 
  .seven {
    grid-column: 3/5;
    background-color: #85CFD8;
 
  } 

  .eight {
    grid-column: 1/4;
    background-color: #8DC63F;
 
  } 

.nine {
    grid-column: 4/5;
    background-color:#E76E34;
 
  } 

  



@media screen and (max-width:768px) {
    .one {
        grid-column: 1/5;
       
    }
    
       .two { 
        grid-column: 1/5;
        
         }
    
      .three {
        grid-column: 1/5;
       
          }
      .four {
        grid-column: 1/5;
        
     
      } 
    
      .five {
        grid-column: 1/5;
        
     
      } 
      .six {
        grid-column: 1/5;
        
     
      } 
      .seven {
        grid-column: 1/5;
      
     
      } 
    
      .eight {
        grid-column: 1/5;
        
     
      } 
    
    .nine {
        grid-column: 1/5;
        
     
      } 